body {
    font-family: sans-serif;
    background-color: lightyellow;
    background-image: src("https://lh3.googleusercontent.com/--GiHy5Bzy0U/WX4EjqOQ_DI/AAAAAAAAAbI/uAvSEZ_T7TEbaCRxzV_IcWiph963DPLhQCEwYBhgL/w139-h140-p/Screenshot_2017-07-29-20-46-54.png");
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

